[submodule "external/delfem2"]
	path = external/delfem2
	url = https://github.com/nobuyuki83/delfem2.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
